---
# specific OS supports wildcards, if preceded with @ its a group
# if the db is corrupt, this can fix it: rpm --rebuilddb
- name: Remove extraneous packages
  become: true
  ignore_errors: true
  ansible.builtin.dnf:
    name: "{{ packages }}"
    state: absent
    autoremove: true
  vars:
    packages:
      - "adobe*"
      - "java*"
      - "samba*"
      - "valgrind*"
      - "tignervnc"
      - '@workstation'
      - 'tigervnc-server'
      - 'xorg-x11-fonts-Type1'

- name: Update all packages
  become: true
  ansible.builtin.dnf:
    name: '*'
    state: latest

- name: Install packages
  become: true
  ansible.builtin.dnf:
    name: "{{ packages }}"
    state: present
    skip_broken: true
  vars:
    packages:
      - 'xorg-x11-xauth'
      - 'gtk3'
      - 'libXtst'
      - 'xorg-x11-fonts-Type1'
      - 'zip'
      - 'unzip'
      - 'python3'
      - 'jq'
      - 'libxcrypt-compat'
      - 'libnsl'
